body {
  font-size: 80%;
  line-height: 1.5;
  background: #fff;
  text-align: center;
  color: #333333;
  background: #efefef;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom
}

a,
a:link,
a:visited {
  color: #000000;
  font-weight: 700;
  text-decoration: none
}

a:hover {
  color: rgb(81, 81, 81);
  text-decoration: underline
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.1em;
  color: #000000;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

h3,
h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  text-align: center
}


label {
  font-size: inherit;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: .8rem;
  cursor: pointer;
  display: block;
  margin-bottom: .5em
}

header.main {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

header.main .inner {
  padding-bottom: 16px;
  padding-top: 16px;
  margin: 0 auto
}

header.main h1 {
  font-size: 29px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 1;
  text-transform: uppercase
}

.site_tagline {
  font-size: .85em;
  letter-spacing: 2px;
  font-weight: 300
}

footer.main {
  width: 100%;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  text-align: center;
  background: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 16px
}

nav,
nav ul {
  margin: 0;
  padding: 0
}

nav ul {
  list-style: none
}

nav ul,
nav ul li {
  display: inline-block
}

nav ul li {
  text-transform: uppercase;
  font-size: .9em;
  margin-right: 38px;
  letter-spacing: 1px;
  font-weight: 600
}

nav ul li:last-child {
  margin-right: 0
}

nav ul li a {
  padding: 2px 8px
}

nav ul li a:hover {
  text-decoration: none
}

div#outer {
  width: 100%;
  text-align: center
}

div#container {
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  max-width: 1000px
}

ul.content-list {
  padding: 0;
  list-style: none
}

ul.content-list li {
  margin: 0 0 80px;
  padding: 0;
  width: 100%;
  display: block;
  text-align: center
}

span.img-wrap {
  position: relative;
  display: block;
  line-height: 0;
  margin-bottom: 10px
}

span.img-data {
  width: 60%;
  display: inline-block
}

span.img-pag {
  display: block;
  position: absolute;
  height: 100%;
  text-align: center;
  z-index: 1
}

span.img-pag.left {
  top: 0;
  left: -100px
}

span.img-pag.right {
  top: 0;
  right: -100px
}

span.img-pag span {
  position: absolute;
  top: 50%;
  margin-top: -9px
}

span.img-pag a {
  color: #333333;
  font-size: 18px
}

span.img-pag a:hover {
  color: #000000
}

span.img-caption {
  display: inline-block
}

span.meta {
  display: block;
  text-transform: uppercase;
  font-size: .82em;
  letter-spacing: 1px
}

span.meta,
span.meta a,
span.meta a:visited {
  color: #777777;
  font-weight: 400
}

span.meta p {
  margin: 1.2em
}

span.meta strong {
  display: block;
  margin-bottom: 4px
}

img.content {
  margin: 0 auto;
  max-width: 100%;
  max-height: 800px;
  height: auto
}


.fade-in-image {
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

div.top {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 720px
}

div.img {
  margin: 0 0 80px
}

.nav {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .9em;
  margin-top: 1.33em
}

.nav.num {
  padding: 1px 0;
  text-align: center
}

span.album-top-link {
  display: inline-block;
  margin-bottom: 1em
}

div.bot {
  margin-top: 80px
}

div.bot ul {
  display: table;
  width: 100%;
  margin: 0 auto;
  border: none;
  border-collapse: collapse;
  border-spacing: 0
}

div.bot ul li {
  display: table-row;
  width: 100%
}

div.bot ul li span.cell {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  padding: 0 0 80px;
  font-size: 1.1em
}

div.bot ul li span.cell.left {
  text-align: left;
  padding-right: 20px;
  width: 25%;
  white-space: nowrap
}

div.bot ul li span.cell.middle {
  width: 50%
}

div.bot ul li span.cell.right {
  text-align: right;
  padding-left: 20px;
  width: 25%;
  white-space: nowrap
}

div.bot ul li span.cell.single {
  width: 100%
}

#infinite_load_msg {
  display: none;
  width: 100%;
  text-align: center;
  padding-bottom: 80px
}

#infinite_load_msg span {
  display: inline-block
}

#infinite_load_msg span:before {
  margin-right: 6px;
  top: 4px;
  position: relative;
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px
}

#infinite_load_msg span:before,
img.k-lazy-loading {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 24px 24px;
}

span.covers {
  width: 100%;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0 0 10px
}

span.cover,
span.covers {
  display: block;
  position: relative
}

span.cover {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box
}

span.covers.n1 span.cover {
  width: 100%
}

span.covers.n2 span.cover {
  width: 50%
}

span.covers.n3 span.cover {
  width: 33.2%
}

span.covers.n4 span.cover {
  width: 25%
}

span.covers.n5 span.cover {
  width: 20%
}

span.covers.n6 span.cover {
  width: 16%
}

span.cover img.content {
  margin: 0 auto
}

#text {
  width: 75%;
  margin: 0 auto
}

@media only screen and (min-width:768px) and (max-width:1024px) {
  div#container {
    width: 728px
  }

  span.img-data {
    width: 50%
  }

  div#text {
    width: 100%
  }

  span.img-pag.left {
    top: 0;
    left: -60px
  }

  span.img-pag.right {
    top: 0;
    right: -40px
  }
}

@media only screen and (max-width:767px) {
  div#container {
    padding: 20px 10px
  }

  div.top {
    width: 100%
  }

  span.img-wrap {
    width: 240px;
    margin: 0 auto
  }

  span.img-data {
    width: 100%
  }

  ul.content-list li {
    margin-bottom: 20px
  }

  div#text {
    width: 100%
  }
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {
  footer.main {
    position: fixed
  }

  div.bot ul li span.cell.left+span.cell {
    vertical-align: middle
  }

  div.bot ul li span.cell.left,
  div.bot ul li span.cell.right {
    width: 40%;
    white-space: normal;
    vertical-align: middle
  }
}

@media only screen and (min-width:480px) and (max-width:767px) {
  div#container {
    padding: 20px 10px
  }
}

@media only screen and (min-width:1440px) {
  div#container {
    max-width: 1180px
  }
}
